@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Saira:wght@200&display=swap");

.color-container {
	display: flex;
	align-items: center;
	justify-content: center;
	// flex-wrap: wrap;
}

html,
body,
#app,
#app > div {
	height: 100%;
	background-color: #2d394d;
}

.header {
	font-family: "Open Sans", sans-serif;
	font-family: "Pacifico", cursive;
	font-family: "Saira", sans-serif;
	font-size: 6em;
	letter-spacing: -0.05em;
	will-change: transform, opacity;
	overflow: hidden;
	color: #ff7a90;
}
