@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Saira:wght@200&display=swap");

.color-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.m {
	&-top {
		margin-top: 30px;
	}
	&-bot {
		margin-bottom: 30px;
	}
}
html,
body,
#app,
#app > div {
	height: 100%;
	background-color: #2d394d;
}

.header {
	font-family: "Open Sans", sans-serif;
	font-family: "Pacifico", cursive;
	font-family: "Saira", sans-serif;
	font-size: 6em;
	letter-spacing: -0.05em;
	will-change: transform, opacity;
	overflow: hidden;
	color: #ff7a90;
}
